/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
body {
  background-color: #f3f4f6;
  margin: 0;
  height: 100%;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}
