<div class="flex max-w-md overflow-hidden bg-white rounded-lg shadow-lg m-4">
  <div class="p-5 flex flex-col justify-between w-full">
    <h2 class="text-xl font-semibold text-gray-900">Nombre de juego</h2>
    <hr class="my-3 border-gray-300" />
    <div class="flex justify-between item-cente">
      <div class="text-sm text-gray-700 space-y-1">
        <p><strong>Tiempo mínimo:</strong> 10 minutos</p>
        <p><strong>Valor mínimo:</strong> $1.000</p>
      </div>
      <button class="px-3 py-2 text-xs font-bold text-white uppercase bg-gray-800 rounded">
        Editar
      </button>
    </div>
  </div>
</div>

