<!-- Todas las vistas conviven en la misma posición visual -->
<div [@slidePages]="currentView" class="relative">

  <div *ngIf="currentView === 'list'" class="absolute inset-0 flex flex-col m-4 gap-3">
    <app-game-list-item (editGame)="goToEdit(game)"
                        [game]="game"
                        *ngFor="let game of list" />

    <div class="flex pb-4">
      <button (click)="goToAdd()" class="bg-red-600 text-white px-4 py-2 rounded w-full">Agregar</button>
    </div>
  </div>
  <!-- ADD -->
  <div *ngIf="currentView === 'add'" class="absolute inset-0 p-4 space-y-4 h-full">
    <div>
      <button (click)="goBack()" class="text-blue-600">&larr; Volver</button>
    </div>
    <div>
      <app-game-form (submitted)="createGame($event)"></app-game-form>
    </div>
  </div>

  <!-- EDIT -->
  <div *ngIf="currentView === 'edit'" class="absolute inset-0 p-4 space-y-4 h-full">
    <div class="flex w-full justify-end">
      <button (click)="goBack()" class="text-blue-600">Volver&nbsp;&rarr;</button>
    </div>
    <div>
      <app-game-form (submitted)="editGame($event)" [initialData]="currentGame" mode="edit"></app-game-form>
    </div>
  </div>
</div>
